*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
  font-size: 45px;
  font-weight: 1000;
}

.color-part{
  color: #fd6e0a;
}
header{
  background: rgba(255, 248, 243, 1);
  padding-top: 20px;
}

nav{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu{
  display: flex;
  list-style-type: none;
  gap: 21px;
  align-items: center;
}

nav .menu a{
  text-decoration: none;
  color: rgba(71, 71, 71, 1);
}

.btn{
  background-color: #fd6e0a;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bolder;
}